body{
    font-family: poppins;
    font-size: 15px;
    text-align: center;
    font-weight: 200;
    padding-top: 40px;
}
div{
    display: inline-block;
    position: relative;
    border-width: 5px 0 0 0;
    border-style: solid;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    margin: 15px;
    width: 16rem;
    height: 200px;
    padding: 30px;
    text-align: left;
    box-shadow: 0 0 20px lightgray;
}
h1{
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 2px;
}
h3{
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}
.heading{
    font-weight: 200;
}
.description{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.team-builder{
    border-color: hsl(0, 78%, 62%);
}
.supervisor{
    border-color: hsl(180, 62%, 55%);
    top: 140px;
}
.karma{
    border-color: hsl(34, 97%, 64%);
}
.calculator{
    border-color: hsl(212, 86%, 64%);
    top: 140px;
}
.image{
    text-align: right;
    display: inline-block;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 30px;
    bottom: 30px;
}